.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  &__wrapper {
    text-align: center;
    border-top: #6a1eae solid 2px;
    width: 100%;
    margin: 0 auto;
  }

  &-btn {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #6a1eae;
    color: white;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &-copy {
    text-transform: uppercase;
  }
}

@media all and (min-width: 768px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5rem;
      width: 90%;
    }

    &-btn {
      transform: translateY(0%);
      order: 2;
    }
    &-copy {
      order: 1;
    }
  }
}
